@import "./utils/Mixins.scss";
@import "./utils/Vars.scss";

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


h1 {
  color: purple;
}

body {
  margin: 0px;
  background-color: #2E1A47;
}


.app{
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;


  &__content{
    width: 100%;
    max-width: $page-max-width;    

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.39), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}