@import "./Mixins.scss";

$navbar-height: 120px;
$page-max-width: 1920px;

$link-color: #444;
$gray: #707070;
$light-gray: #E6E6E6;
$purple: #2e1a47;
$dark-purple: #1E112E;
$light-purple:#3c235b;
$gold: #FFB81C;
$cream: #EFDBB2;
$orange: #e35205;
$padding-left-mobile: 20px;

%section-attr {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

%section-wrapper-attr {
  width: 100%;
  padding: 0px 30px;
  max-width: $page-max-width;
}

// Gridded Section

%gridded-section-wrapper-attr {
  @extend %section-wrapper-attr;
  display: flex;
  flex-direction: row;

  @include tablet-landscape-and-below {
    flex-direction: column;
  }
}

%gridded-section-title-attr {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include tablet-landscape-and-below {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}

%gridded-section-content-attr {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include tablet-landscape-and-below {
    width: 100%;
  }
}

