@import "./Mixins.scss";

$page-max-width: 1366px;
$link-color: #444;
$gray: #707070;

%section-attr {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

%section-wrapper-attr {
  width: 100%;
  padding: 0px 30px;
  max-width: $page-max-width;
}

// Gridded Section

%gridded-section-wrapper-attr {
  @extend %section-wrapper-attr;
  display: flex;
  flex-direction: row;

  @include tablet-landscape-and-below {
    flex-direction: column;
  }
}

%gridded-section-title-attr {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include tablet-landscape-and-below {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}

%gridded-section-content-attr {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include tablet-landscape-and-below {
    width: 100%;
  }
}
