$page-max-width: 1366px;

$color-luminous-blue: #080085;
$color-darker-blue: #ccc;
$color-luminous-green: #222;
$color-darker-green: #03bc74;
$color-luminous-orange: #f64c10;
$color-luminous-yellow: #ffc300;

%section-attr {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

%section-wrapper-attr {
  width: 100%;
  padding: 0px 30px;
  max-width: $page-max-width;
}
