@import "../utils/Mixins.scss";
@import "../utils/Vars.scss";

$light-gray: #E6E6E6;

.contato {


    &__header {
        @extend %section-attr;

        &__wrapper {
            @extend %section-wrapper-attr;

            height: calc(100vh - 76px);
            background: -webkit-linear-gradient(to right, white 0%, white 40%, $light-gray 40%, $light-gray 40%);
            background: linear-gradient(to right, white 0%, white 40%, $light-gray 40%, $light-gray 40%);

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;

            @include tablet-landscape-and-below {
                background: $light-gray;
            }

            h1 {
                font-size: 200px;
                font-weight: 900;
                line-height: 0.72;
                padding: 0 0 125px 0;
                margin: 0;
                color: $gray;
                text-transform: uppercase;

                @include tablet-landscape-and-below {
                    font-size: 15vw;
                }
            }

            span {
                font-weight: 400;
            }
            
        }
    }

    &__infos {
        @extend %section-attr;

        &__wrapper {
            @extend %section-wrapper-attr;

            margin-top: 140px;
            margin-bottom: 240px;

            display: grid;
            grid-template-columns: 4fr 6fr;

            @include tablet-landscape-and-below {
                grid-template-columns: 1fr;
                margin-bottom: 140;
            }
        }

        &__infos {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 70px;
        }

        &__row {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 20px;

            h4 {
                text-transform: uppercase;
                color: $gray;
                font-size: 22px;
                padding: 0;
                margin: 0;
            }

            h2 {
                font-size: 48px;
                color: $gray;
                padding: 0;
                margin: 0;
            }
        }

        &__social {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @include tablet-landscape-and-below {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 20px;
            }
            
            a {
                text-decoration: none;
                color: $gray;
                font-size: 48px;
                font-weight: 800;
            }
        }

        &__wpp {
            margin-bottom: 5px;

            @include tablet-landscape-and-below {
                text-align: center;
                margin-top: 100px;
            }

            a {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
                padding: 30px 120px;
                background: #363636;
                display: inline;
            }
        }

        &__smalltext {
            margin-top: 10px;
            font-size: 12px;
            color: $gray;

            @include tablet-landscape-and-below {
                text-align: center;
            }
        }
    }

}