@import "../utils/Mixins.scss";
@import "../utils/Vars.scss";

.contato {
  &__navbar-area {
    width: 100%;
    height: $navbar-height;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    background-color: green;
    position: relative;

    background-color: #1e112e;

    
    min-height: 900px;

    @include tablet-768-and-below {
      height: 70vh;
      min-height: 400px;
    }

    @include mobile-411-and-below {
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }

    &__diagonal {
      width: 100%;
      margin-top: -80px;
      /* object-fit: contain; */
      height: 210px;
    }

    &__left-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 35%;
      height: 100%;
      background-image: url("./assets/min-images/contato/header.svg");
      background-size: contain;
      background-repeat: no-repeat;

      @include desktop-1024-and-below {
        width: 100%;
      }

      &__content {
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 200px;

        @include desktop-1366-and-below {
          padding-top: 100px;
        }

        @include desktop-1024-and-below {
          width: 25%;
        }

        @include tablet-768-and-below {
          width: 75%;
          padding-top: 50px;
          justify-content: flex-start;
          padding-left: 30px;

          h1 {
            font-size: 12em;
          }
        }

        h1 {
          font-weight: 500;
          font-size: 55px;
          color: $purple;

          @include desktop-1440-and-below {
            font-size: 40px;
          }
        }
      }
    }

    &__right-background {
      position: absolute;
      top: 0;
      right: 0;
      width: 80%;
      object-fit: contain;

      @include tablet-768-and-below {
        top: auto;
        bottom: 0 !important;
      }

      @include mobile-411-and-below {
        top: auto;
        bottom: 0px !important;
      }
    }
  }

  &__infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px 0px;

    &__container {
      width: 70%;
      display: flex;
      flex-direction: row;

      @include desktop-1024-and-below {
        width: 100%;
        flex-direction: column;
      }
    }

    &__number {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-right: 150px;

      @include desktop-1024-and-below {
        justify-content: flex-start;
        padding: 30px;
      }

      h2 {
        color: $gold;
        font-size: 180px;
        margin: 0px;
        font-weight: 400;
        position: relative;
        margin-top: -50px;

        @include desktop-1920-and-below {
          font-size: 150px;
          margin-top: -50px;
        }

        @include desktop-1024-and-below {
          font-size: 60px;
          margin-top: 0px;
        }
      }

      &__line {
        height: 2px;
        width: 90%;
        background-color: $gold;
        position: absolute;
        bottom: 0;
        right: -25%;

        @include desktop-1024-and-below {
          width: 120%;
        }
      }
    }

    &__infos {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 70px;

      @include desktop-1024-and-below {
        padding: 30px;
      }

      @include tablet-768-and-below {
        row-gap: 38px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 100px;
      }
    }

    &__row {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 20px;

      @include desktop-1920-and-below {
        font-size: 15px;
      }

      @include mobile-411-and-below {
        display: flex;
        flex-direction: column;
        row-gap: 0px;
      }

      h4 {
        text-transform: uppercase;
        color: $gold;
        font-size: 22px;
        padding: 0;
        margin: 0;

        @include desktop-1920-and-below {
          font-size: 18px;
        }

        @include desktop-1920-and-below {
          font-size: 16px;
        }
      }

      h2 {
        font-size: 48px;
        color: white;
        font-weight: 500;
        padding: 0;
        margin: 0;
        line-break: auto;

        @include desktop-1920-and-below {
          font-size: 35px;
        }

        @include desktop-1366-and-below {
          font-size: 30px;
        }
      }
    }

    &__social {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include desktop-1024-and-below {
        flex-direction: column;
      }

      a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 48px;

        &:hover {
          text-decoration: underline;
        }

        @include desktop-1920-and-below {
          font-size: 35px;
        }

        @include desktop-1366-and-below {
          font-size: 30px;
        }

        @include desktop-1024-and-below {
          font-size: 45px;
          margin: 8px 0px;
        }
      }
    }

    &__wpp {
      margin-bottom: 5px;

      @include desktop-1024-and-below {
        margin-top: 50px;
        text-align: left;
      }

      @include mobile-411-and-below {
        margin-top: 0px;
      }

      div {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        padding: 30px 120px;
        background: $orange;
        display: flex;
        max-width: 400px;
        justify-content: center;
        align-items: center;

        @include desktop-1440-and-below {
          padding: 25px 100px;
        }

        @include mobile-411-and-below {
          width: 100%;
          padding: 25px 0px;
        }
      }
    }

    &__smalltext {
      // margin-top: 10px;
      font-size: 12px;
      color: $gray;

      @include desktop-1024-and-below {
        text-align: left;
      }
    }
  }

  &__instagram {
    padding: 30px 0px;
    margin-top: -30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e112e;
    padding-bottom: 150px;

    &__container {
      width: 70%;
      display: flex;
      flex-direction: row;

      @include desktop-1024-and-below {
        width: 100%;
        flex-direction: column;
      }
    }

    &__number {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-right: 150px;

      @include desktop-1024-and-below {
        justify-content: flex-start;
        padding: 30px;
      }

      @include mobile-411-and-below {
        padding-bottom: 0px;
        margin-top: -30px;
      }

      h2 {
        color: $gold;
        font-size: 180px;
        margin: 0px;
        font-weight: 400;
        position: relative;

        @include desktop-1920-and-below {
          font-size: 150px;
        }

        @include desktop-1024-and-below {
          font-size: 60px;
        }
      }

      &__line {
        height: 2px;
        width: 90%;
        background-color: $gold;
        position: absolute;
        bottom: 0;
        right: -25%;

        @include desktop-1024-and-below {
          width: 120%;
        }
      }
    }

    &__posts {
      overflow: hidden;
      width: 100%;
      min-height: 700px;

      @include desktop-1024-and-below {
        padding: 30px;
      }

      @include mobile-411-and-below {
        padding-top: 15px;
        min-height: 450px;
      }

      h3 {
        color: $gold;
        text-transform: uppercase;
      }

      &__cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__line {
          margin-top: 16px;
          width: 100%;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          @include mobile-411-and-below {
            display: none;
            &:nth-child(1) {
              display: flex;
            }
          }

          &:nth-child(even) {
            justify-content: flex-end;
          }

          @include tablet-768-and-below {
            &:nth-child(even) {
              justify-content: flex-start;
            }
          }

          img {
            width: 260px;
            height: 260px;
            object-fit: contain;
            margin-right: 16px;

            @include desktop-1440-and-below {
              width: 165px;
              height: 165px;
            }

            // @include desktop-1366-and-below {
            //   width: 165px;
            // }

            @include desktop-1024-and-below {
              width: 235px;
              height: 234px;
            }
          }
        }
      }
    }

    &__button{
      
      div {
        margin: 40px 0px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        padding: 30px 0px;
        background: $orange;
        display: flex;
        max-width: 400px;
        justify-content: center;
        align-items: center;

        @include desktop-1440-and-below {
          // padding: 25px 100px;
        }

        @include mobile-411-and-below {
          width: 100%;
          padding: 25px 0px;
        }
      }
    }
  }
}
