@import "../utils/Mixins.scss";
@import "../utils/Vars.scss";




.filmes {
    color: white;
    background-color: $purple;
    width: 100%;
    max-width: 1920px;
    box-shadow: 0px ;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.39), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 0 auto;

    &__header {

        @extend %section-attr;
        display: grid;
        grid-template-columns: 3fr 7fr;
        background-image: url("./assets/min-images/filmes/header.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        background-position-y: -50px;
        background-color: $light-purple;
        height: 1200px;
        align-items: flex-start;

        @include tablet-landscape-and-below {
            background-image: url("./assets/min-images/filmes/img-header-filme-mobile.svg");
            height: 1300px;
            grid-template-columns: 1fr;
        }

        &__title {
            margin-left: 133px;
            margin-top: 185px;

            @include tablet-landscape-and-below {
                margin-left: 30px;
            }

            h1 {
                width: 256px;
                font-weight: 900;
                font-size: 116px;
                line-height: 141px;
                letter-spacing: -5.8px;
                word-break: break-all;
                margin: 0 0 10px 0;
                line-height: 0.8;
                text-transform: uppercase;
                color: $purple;
            }
            
            h4 {
                font-size: 20px;
                font-weight: 400;
                margin-left: 10px;
                color: $purple;
            }
        }

        &__posters {
            position: relative;
            width: 100%;
            height: 100%;
            margin-top: 185px;

            @include tablet-landscape-and-below {
                margin-top: 0;
                padding: 0 30px;
            }
        }
    }

    &__highlight {
        width: 481px;
        height: 814px;
        display: flex;
        flex-direction: column;
        padding-bottom: 69px;
        padding-left: 37px;
        justify-content: flex-end;
        background-repeat: no-repeat;
        background-size: contain;

        @include tablet-landscape-and-below {
            width: 100%;
            height: 410px;
            background-size: cover;
            background-position: center center;
            padding: 22px;
        }


        &__number {
            width: 292px;
            border-bottom: 8px solid white;
            font-size: 125px;
            line-height: 143px;
            letter-spacing: 2.5px;
            font-weight: 300;
            margin-bottom: 10px;

            @include tablet-landscape-and-below {
                width: 100%;
            }

        }

        &__text {
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 0;

            @include tablet-landscape-and-below {
                font-weight: 500;
            }
        }
    }

    // Código deprecado da versão 1 
    // da página (posters um em
    // cima do outro.)
    &__poster {
        position: absolute;
        top: 20px;

        -webkit-box-shadow: 0px 0px 80px -13px rgba(0,0,0,0.35);
        -moz-box-shadow: 0px 0px 80px -13px rgba(0,0,0,0.35);
        box-shadow: 0px 0px 80px -13px rgba(0,0,0,0.35);

        @include tablet-landscape-and-below {
            top: 0;
        }

        &__1 {
            top: 60px;
            left: 30px;
            transform: scale(0.9);
            z-index: 100;

            @include tablet-landscape-and-below {
                transform: scale(0.45);
            }
        }

        &__2 {
            top: 60px;
            left: 240px;
            transform: scale(0.75);
            z-index: 90;

            @include tablet-landscape-and-below {
                transform: scale(0.30);
            }
        }

        &__3 {
            top: 60px;
            left: 460px;
            transform: scale(0.6);
            z-index: 80;

            @include tablet-landscape-and-below {
                display: none;
            }
        }

        &__fundo {
            top: 60px;
            left: -40px;
            transform: scale(0.75);
            z-index: 70;
            opacity: 0.2;

            @include tablet-landscape-and-below {
                transform: scale(0.45);
            }
        }
    }

    &__destaques {
        width: 100%;
        height: 1780px;
        position: relative;
        background: url('./assets/min-images/filmes/destaques.svg');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
        background-color: $light-purple;

        &__title {
            width: 302px;
            height: 346px;
            position: absolute;
            top: 50px;
            left: 130px;
            background: url('./assets/min-images/filmes/01.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;    

            @include tablet-landscape-and-below {
                width: 100%;
                height: 300px;
                background-position: center left;
                background-position-x: 14px;
                background-size: 210px 210px;
                background-color: red;
                position: relative;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 30px 30px;
            }
        }
        
        &__text {
            font-weight: 700;
            color: $cream;
            font-size: 28px;
            text-transform: uppercase;
            position: absolute;
            top: 220px;
            left: 190px;

            @include tablet-landscape-and-below {
                position: relative;
                top: auto;
                left: auto;
            }
        }

        &__img {
            position: absolute;

            @include tablet-landscape-and-below {
                display: none;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__img1 {
            top: 220px;
            left: 676px;
            width: 900px;
            height: 500px;    
        }

        &__img2 {
            top: 737px;
            left: 126px;
            width: 1019px;
            height: 380px;
        
        }

        &__img3 {
            top: 737px;
            left: 1166px;
            width: 500px;
            height: 240px;    
        }

        &__img4 {
            top: 1134px;
            left: 774px;
            width: 370px;
            height: 240px;
        }

        &__img5 {
            top: 995px;
            left: 1166px;
            width: 380px;
            height: 350px;

            @include tablet-landscape-and-below {
                top: 0;
                left: 0;
                width: 100%;
                height: 300px;
            }
        }
    }

    &__tabs {
        @extend %section-attr;
        position: relative;

        &__title {
            width: 302px;
            height: 346px;
            position: absolute;
            top: 0;
            left: 130px;
            background: url('./assets/min-images/filmes/2.svg');
            background-repeat: no-repeat;
        }

        &__text {
            position: absolute;
            top: 230px;
            left: 200px;
            font-size: 28px;
            color: $cream;
            font-weight: 700;
            text-transform: uppercase;
            
        }

        &__wrapper {
            width: 100%;
            max-width: 1600px;

            margin-top: 400px;
            margin-bottom: 100px;
            
            border-bottom: 1px solid $cream;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        &__button {
            text-transform: uppercase;
            font-weight: 400;
            padding: 20px 0;
            font-size: 20px;
            
            cursor: pointer;
            text-decoration: none;
            color: $cream;
        }

        &__selected {
            border-bottom: 5px solid $cream;
            font-weight: 700;
        }
    }

    &__tab {
        width: 100%;
        max-width: 1600px;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 16px;

        &__poster {
            width: 100%;
            height: 520px;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
            
            &__grid {
                width: 100%;
                height: 100%;
                display: none;

                &+:hover {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr;
                }
            }

            &__text {
                grid-row: 2;
                background-color: #FFB81C;
                opacity: 0.69;
                height: 100%;
                color: white;
                display: flex;
                align-items: center;
                
                span {
                    font-size: 50px;
                    padding-bottom: 10px;
                    border-bottom: 3px solid white;
                }
            }
        }
    }

    &__row {
        width: 100%;

        margin-bottom: 85px;

        display: flex;
        flex-direction: column;

        &__head {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h3 {
                text-transform: uppercase;
            }

            h4 {
                font-weight: 400;
            }

            a {
                text-decoration: none;
                color: black
            }
        }

        &__grid {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 10px;
            row-gap: 10px;

            @include tablet-landscape-and-below {
                overflow-x: scroll;
            }

            &::-webkit-scrollbar {
                width: 0px;
            }
        }
    }

    &__griditem {
        background-color: #CFCFCF;
        
        img {
            width: 350px;
            height: 450px;
            object-fit: cover;
        }
    }

    &__cta {
        background-color: transparent;
        margin-top: -200px;

        @include tablet-landscape-and-below {
            margin: 0;
        }
        
        &__darkpurple {
            width: 100%;
            background-color: #201231;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 20px 360px;

            @include tablet-landscape-and-below {
                padding: 20px 0;
                flex-direction: column;
            }
        }

        &__texto {
            color: white;
            font-weight: 800;
            font-size: 76px;

            @include tablet-landscape-and-below {
                font-size: 36px;
                font-weight: 700;
                text-align: center;
                width: 80%;
                margin: 0 auto;
                margin-bottom: 30px;
            }
        }

        &__button {
            display: flex;
            flex-direction: column;
            a {
                background-color: $orange;
                padding: 30px 40px;
                border-radius: 4px;
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 10px;

                @include tablet-landscape-and-below {
                    max-width: 80%;
                    margin: 0 auto;
                    padding: 20px 60px;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.28px;
                    text-align: center;
                }
            }

            span {
                font-weight: 300;
                font-size: 12px;

                @include tablet-landscape-and-below {
                    text-align: center;
                    line-height: 15px;
                    margin-top: 10px;
                }
            }
        }
    }
}


