@import "../utils/Mixins.scss";
@import "../utils/Vars.scss";

.home__container {
  width: 100%;
  background-color: #2e1a47;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home__wrapper {
  width: 100%;
  max-width: 1920px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.home__header {
  width: 100%;
  height: calc(100vh - 100px);
  background: -webkit-image-set(
    url("./assets/min-images/home/header/headerBG@1x.png") 1x,
    url("./assets/min-images/home/header/headerBG@2x.png") 2x
  );
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  &__title {
    font-size: 90px;
    position: absolute;
    bottom: 150px;
    left: 0px;
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 700;
    text-shadow: 0px 3px 12px #0000004d;
    z-index: 2;

    @include mobile-landscape-and-below {
      margin-bottom: 0px;
      bottom: 50px;
      font-size: 24px;
    }
  }

  &__bottom-path {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 2;

    @include mobile-landscape-and-below {
      display: none;
    }

    &--mobile {
      display: none;
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;

      @include mobile-landscape-and-below {
        display: block;
      }
    }
  }
}

.home__projetos {
  @extend %section-attr;
  margin-bottom: -600px;

  @include mobile-landscape-and-below {
    margin-bottom: 0px;
  }

  &__wrapper {
    @extend %section-wrapper-attr;
    max-width: 1600px;
  }

  &__grid {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4px;
    column-gap: 4px;
    padding-bottom: 50px;

    @include tablet-landscape-and-below {
      grid-template-columns: 1fr;
      margin-top: 100px;
    }

    &__item {
      width: 800px;
      height: 500px;
      background-size: cover;
      background-position: center;
      z-index: 1;

      @include mobile-landscape-and-below {
        width: 300px;
        height: 150px;
      }
    }
  }
}

.home__sobre {
  @extend %section-attr;
  background-color: #2e1a47;

  &__wrapper {
    margin-top: 200px;
    @extend %gridded-section-wrapper-attr;

    background-image: url("./assets/min-images/home/sobre/sobreDesktopBg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 2358px;

    @include mobile-landscape-and-below {
      padding: 0px;
      margin-top: 0px;
      background-image: none;
      min-height: 0px;
    }
  }

  &__title {
    @extend %gridded-section-title-attr;
    text-align: left;
    color: #ffb81c;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 250px;
    margin-top: 600px;

    @include mobile-landscape-and-below {
      padding: 0px 30px;
      margin-top: 0px;
    }

    span {
      text-align: left;
      font-size: 24px;
    }

    h2 {
      font-weight: 500;
      font-size: 54px;

      @include mobile-landscape-and-below {
        font-size: 24px;
      }
    }
  }

  &__content {
    margin-top: 100px;
    @extend %gridded-section-content-attr;

    color: #2e1a47;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    p {
      width: 75%;
      font-size: 38px;
      z-index: 1;

      @include mobile-landscape-and-below {
        font-size: 24px;
      }
    }

    @include mobile-landscape-and-below {
      background-color: #efdbb2;
      padding: 100px 30px;
      margin-top: 50px;

      p {
        width: 100%;
      }
    }

    &__divisoria {
      display: none;
      position: absolute;
      width: 100%;
      object-fit: contain;

      @include mobile-landscape-and-below {
        display: block;
      }

      &--top {
        top: 0px;
        left: 0px;
      }

      &--bottom {
        bottom: -5px;
        left: 0px;
      }
    }
  }
}

.home__cta {
  @extend %section-attr;
  padding-bottom: 75px;
  background-color: #2e1a47;
  position: relative;

  @include mobile-landscape-and-below {
    background-color: #201231;
    padding: 50px 10px;

    @include mobile-landscape-and-below {
      margin: 50px 0px;
    }
  }

  &__wrapper {
    @extend %gridded-section-wrapper-attr;
    max-width: 1200px;

    @include mobile-landscape-and-below {
      padding: 50px 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__divisoria {
    display: none;
    position: absolute;
    width: 100%;
    object-fit: contain;

    @include mobile-landscape-and-below {
      display: block;
    }

    &--top {
      top: -15px;
      left: 0px;
    }

    &--bottom {
      bottom: -5px;
      left: 0px;
    }
  }

  &__title {
    @extend %gridded-section-title-attr;
    color: white;
    font-size: 46px;
    padding-right: 60px;
    font-weight: 700;

    @include mobile-landscape-and-below {
      font-size: 32px;
      text-align: center;
    }
  }

  &__content {
    @extend %gridded-section-content-attr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;

    @include mobile-landscape-and-below {
      align-items: center;
    }

    span {
      margin-top: 10px;
      width: 190px;
      font-weight: 300;
      font-size: 13px;

      @include mobile-landscape-and-below {
        text-align: center;
      }
    }
  }

  &__button {
    background-color: #e35205;
    border-radius: 4px;
    padding: 27px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-weight: bold;

    @include mobile-landscape-and-below {
      width: 100%;
      padding: 27px 0px;
    }
  }
}

.home__brand {
  width: 100%;
  padding: 100px 0px;
  background-color: #2e1a47;
  overflow: hidden;

  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    color: #ffb81c;
    font-size: 160px;
    margin: 0px;
    text-align: center;
    position: relative;
    z-index: 2;
    font-weight: 900;

    @include desktop-and-below {
      font-size: 90px;
    }

    @include mobile-landscape-and-below {
      font-size: 40px;
    }
  }

  &__pontilhado {
    position: absolute;
    bottom: -50px;
    right: -50px;
    z-index: -1;
    width: 25%;

    @include mobile-landscape-and-below {
      width: 40%;
      bottom: -25px;
      right: -25px;
    }
  }
}
