@import "../utils/Mixins.scss";
@import "../utils/Vars.scss";

.home__header {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  &__background {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;

    &--visible {
      opacity: 1;
    }
  }

  &__disabled-arrow {
    opacity: 0.2;
  }

  &__right-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
    cursor: pointer;

    @media only screen and (max-width: 1200px) {
      padding-right: 40px;

      img {
        height: 40px;
        object-fit: contain;
        margin-bottom: 50px;
      }
    }
  }

  &__left-arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    cursor: pointer;

    img {
      transform: scaleX(-1);
    }

    @media only screen and (max-width: 1200px) {
      padding-left: 40px;

      img {
        height: 40px;
        object-fit: contain;
        margin-bottom: 50px;
      }
    }
  }

  &__title {
    font-size: 90px;
    position: absolute;
    bottom: 150px;
    left: 0px;
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 700;
    text-shadow: 0px 3px 12px #0000004d;
    z-index: 2;

    @include tablet-768-and-below {
      margin-bottom: 0px;
      bottom: 50px;
      font-size: 24px;
    }
  }

  &__bottom-path {
    position: absolute;
    bottom: -150px;
    left: 0;
    width: 100%;
    z-index: 2;

    @include tablet-768-and-below {
      display: none;
    }

    &--mobile {
      display: none;
      position: absolute;
      left: 0px;
      bottom: -50px;
      width: 100%;
      

      @include tablet-768-and-below {
        display: block;
      }
    }
  }
}

.home__projetos {
  @extend %section-attr;
  margin-bottom: -600px;

  @include mobile-411-and-below {
    margin-bottom: 0px;
  }

  &__wrapper {
    @extend %section-wrapper-attr;
    max-width: 1600px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__grid {
    width: 90%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4px;
    column-gap: 4px;
    padding-bottom: 50px;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
      margin-top: 100px;
    }

    &__item-container {
      width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio */
      position: relative; /* If you want text inside of it */
    }

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;

      &:hover {
        .home__projetos__grid__item__hover {
          transition: height 0.3s ease-in;
          height: 100% !important;

          img {
            display: block;
          }
        }
      }

      &__hover {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: #ffb71ca9;
        z-index: 2;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          display: none;
        }
      }
    }
  }
}

.home__sobre {
  @extend %section-attr;
  background-color: #2e1a47;

  &__wrapper {
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;

    background-image: url("./assets/min-images/home/sobre/sobreDesktopBg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 2358px;

    position: relative;

    @media only screen and (max-width: 1200px) {
      background-image: none;
      display: flex;
      flex-direction: column;
      min-height: 0px;
      padding: 0px;
      margin-bottom: 100px;
    }

    @include mobile-411-and-below {
      padding: 0px;
      margin-top: 0px;
      background-image: none;
      min-height: 0px;
    }
  }

  &__right-asset {
    position: absolute;
    top: 380px;
    right: -2px;

    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__title {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    color: #ffb81c;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 130px;
    padding-right: 250px;
    margin-top: -80px;

    @include desktop-1440-and-below {
      padding-left: 120px;
      padding-right: 127px;
    }

    @include desktop-1366-and-below {
      padding-right: 100px;
    }

    @media only screen and (max-width: 1200px) {
      margin-top: 350px;
      width: 100%;
      padding: 150px 30px;
    }

    @include mobile-411-and-below {
      padding: 0px 30px;
      margin-top: 0px;
    }

    span {
      text-align: left;
      font-size: 47px;

      @media only screen and (max-width: 1200px) {
        font-size: 24px;
      }
    }

    h2 {
      font-weight: 500;
      font-size: 62px;

      @include desktop-1440-and-below {
        font-size: 45px;
      }

      // @include desktop-1366-and-below {
      //   font-size: 32px;
      // }

      @include mobile-411-and-below {
        font-size: 24px;
      }
    }
  }

  &__content {
    margin-top: 100px;
    width: 50%;
    display: flex;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    @media only screen and (max-width: 1200px) {
      margin-top: 0px;
      width: 100%;
      background-color: #efdbb2;
      padding: 200px 30px;
    }

    @include tablet-768-and-below{
      padding: 100px 30px;
    }

    @include mobile-411-and-below {
      background-color: #efdbb2;
      padding: 100px 30px;
      margin-top: 50px;
    }

    p {
      width: 75%;
      font-size: 30px;
      letter-spacing: 0.68px;
      line-height: 2.8rem;

      z-index: 1;

      @include desktop-1440-and-below {
        font-size: 20px;
      }

      @media only screen and (max-width: 1200px) {
        width: 100%;
        font-size: 24px;
      }

      @include mobile-411-and-below {
        width: 100%;
        font-size: 18px;
      }
    }

    &__divisoria {
      display: none;
      position: absolute;
      width: 100%;
      object-fit: contain;

      @media only screen and (max-width: 1200px) {
        display: block;
      }

      &--top {
        top: -214px;
        left: 0px;

        @include tablet-768-and-below{
          top: -115px;
        }

        @include mobile-411-and-below{
          top: -65px;
        }
      }

      &--bottom {
        bottom: -145px;
        left: 0px;

        @include tablet-768-and-below{
          bottom: -80px;
        }

        @include mobile-411-and-below{
          bottom: -50px;
        }
      }
    }
  }
}

.home__cta {
  @extend %section-attr;
  padding-bottom: 75px;
  position: relative;

  @include desktop-1920-and-below {
    margin-top: -50px;
  }

  @include desktop-1440-and-below {
    margin-top: -200px;
  }

  @media only screen and (max-width: 1200px) {
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: #201231;
    padding: 100px 10px;
  }

  @include mobile-411-and-below {
    margin: 120px 0px 50px 0px;
    padding: 50px 10px;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    max-width: 1300px;

    @media only screen and (max-width: 1200px) {
      min-height: 450px;
      padding: 50px 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    @include tablet-768-and-below{
      min-height: 300px;
    }

  }

  &__divisoria {
    display: none;
    position: absolute;
    width: 100%;
    object-fit: fill;
    // z-index: -1;

    @media only screen and (max-width: 1200px) {
      display: block;
    }

    &--top {
      top: -15%;
      left: 0px;

      @media (max-width: 320px) {
        top: -8%;
      }
    }

    &--bottom {
      bottom: -15%;
      left: 0px;

      @media (max-width: 320px) {
        bottom: -8%;
      }
    }
  }

  &__title {
    width: 50%;
    color: white;
    font-size: 66px;

    font-weight: 700;

    @media only screen and (max-width: 1200px) {
      font-size: 38px;
      text-align: center;
      width: 100%;
      max-width: 400px;
    }
  }

  &__content {
    width: 50%;

    padding-left: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;

    @media only screen and (max-width: 1200px) {
      align-items: center;
      width: 100%;
      padding-left: 0px;
    }

    span {
      margin-top: 10px;
      font-weight: 300;
      font-size: 17px;

      @media only screen and (max-width: 1200px) {
        text-align: center;
        width: 100%;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

  &__button {
    background-color: $orange;
    border-radius: 4px;
    padding: 31px 54px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      box-shadow: 0 5px 18px #e3530596;
    }

    @media only screen and (max-width: 1200px) {
      margin-top: 40px;
      width: 100%;
      padding: 27px 0px;
      font-size: 11px;
      max-width: 300px;
    }
  }
}
