@import "../utils/Mixins.scss";
@import "../utils/Vars.scss";


.sobre {
    color: $gray;

    &__header {
        @extend %section-attr;
        height: 90vh;


        &__wrapper {
            @extend %section-wrapper-attr;

            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;

            @include tablet-landscape-and-below {
                width: 100%;
                padding: 0;
            }
        }

        &__title {
            font-size: 4.2vw;
            margin-top: 20vh;
            // margin-bottom: 100px;

            @include tablet-landscape-and-below {
                font-size: 6.2vw;
            }

            h1 {
                color: $gray;
                font-weight: 900;
            }

            span {
                color: $gray;
                font-weight: 400;
            }
        }

        &__cta {
            h4 {
                text-transform: uppercase;
                font-weight: 300;
                margin-bottom: 0;
                font-size: 20px;
                color: $gray;
            }

            a {
                text-decoration: none;
                color: $gray;
                font-size: 50px;
                margin-top: 0;
            }
        }
    }


    &__texto1 {
        @extend %section-attr;

        &__wrapper {
            @extend %section-wrapper-attr;
            padding-top: 105px;
            width: 95%;
            max-width: 1140px;
        }

        h2 {
            font-size: 36px;
            line-height: 1.7;
            color: $gray;

            @include tablet-landscape-and-below {
                line-height: 1.4;
            }
        }

        h3 {
            font-size: 32px;
            line-height: 1.6;
            font-weight: 400;
            color: $gray;

            @include tablet-landscape-and-below {
                line-height: 1.4;
                font-size: 28px;
            }
        }

        p {
            color: $gray;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.8;

            @include tablet-landscape-and-below {
                line-height: 2.2;
                font-size: 22px;
            }
        }
    }


    &__beliefs {
        @extend %section-attr;

        &__wrapper {
            @extend %section-wrapper-attr;
            
            margin-top: 100px;

            display: grid;
            grid-template-columns: 2fr 8fr;
            column-gap: 15px;

            @include tablet-landscape-and-below {
                grid-template-columns: 1fr;
                margin-top: 10px;
            }
        }

        &__title {
            text-transform: uppercase;
            text-align: center;
            font-size: 14px;
            margin-top: 50px;

            @include tablet-landscape-and-below {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                padding-bottom: 120px;
                margin-top: 20px;
            }
        }

        &__right {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
    }

    &__belief {
        border: 1px solid $gray;
        padding: 45px 30px;
        height: 420px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        @include tablet-landscape-and-below {
            height: auto;
            flex-direction: column;
        }

        &__number {
            margin-right: 56px;
            font-weight: 900;
            font-size: 70px;
        }

        &__text {
            width: 430px;
            font-weight: 400;
            line-height: 1.8;
            font-size: 18px;

            @include tablet-landscape-and-below {
                width: auto;
            }
        }
    }


    &__grid {
        @extend %section-attr;

        &__wrapper {
            @extend %section-wrapper-attr;
            
            margin-top: 70px;
            margin-bottom: 240px;
            border-bottom: 1px solid $gray;
            padding-bottom: 70px;

            display: grid;
            grid-template-columns: 2fr 8fr;
            column-gap: 15px;

            @include tablet-landscape-and-below {
                grid-template-columns: 1fr;
                width: 86%;
                padding: 0;
                padding-bottom: 70px;
                margin-bottom: 100px;
            }
        }

        &__grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 50px;
            row-gap: 60px;

            grid-template-columns: 1fr;
        }
    }

    &__smallbelief {
        display: flex;
        flex-direction: row;

        @include tablet-landscape-and-below {
            flex-direction: column;
        }
        
        &__number {
            @extend .sobre__belief__number;
            margin-right: 10px;
            color: $gray;
        }

        &__text {
            @extend .sobre__belief__text;
            width: 100%;
            color: $gray;
        }
    }

}