@import "../utils/Mixins.scss";
@import "../utils/Vars.scss";

$purple: #2e1a47;
$dark-purple: #1E112E;
$gold: #FFB81C;
$cream: #EFDBB2;
$padding-left-mobile: 20px;

.sobre {
    color: white;
    background-color: $purple;
    width: 100%;
    max-width: 1920px;
    box-shadow: 0px ;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.39), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 0 auto;

    &__navbar {
        width: 100%;
        height: 120px;
    }

    &__header {
        @extend %section-attr;
        background-color: $dark-purple;
        height: 1080px;
        margin-bottom: -280px;
        z-index: 10000;

        @include tablet-landscape-and-below {
            display: none;
        }
    }

    &__mheader {
        margin: 0;
        padding: 0;
        margin-bottom: -20%;

        @include desktop-and-up {
            display: none;
        }
    }


    &__texto1 {
        width: 100%;
        display: grid;
        grid-template-columns: 4fr 7fr;
        height: auto;
        background-image: url("./assets/min-images/quemsomos/yellow.svg");
        background-repeat: no-repeat;
        padding-top: 200px;
        z-index: 0;
        background-color: $dark-purple;

        @include tablet-landscape-and-below {
            grid-template-columns: 1fr;
            padding-top: 0;
            background-position: top left;
            background-position-y: -40px;
            background-size: contain;
            background-color: $dark-purple;
            padding-top: 100px;
        }

        &__left {
            padding-top: 150px;
            padding-left: 143px;
            color: $purple;
            font-size: 68px;
            font-weight: 300;

            display: grid;
            row-gap: 50px;
            padding-bottom: 330px;

            @include tablet-landscape-and-below {
                padding-top: 0px;
                padding-bottom: 0px;
                padding-left: $padding-left-mobile;
                width: 100%;
                font-size: 20px;
                letter-spacing: 0.4px;
                line-height: 25px;
            }

            div {
                @include tablet-landscape-and-below {
                    width: 213px;
                }
            }

            b {
                font-weight: 700;
            }
        }

        &__right {
            font-size: 34px;
            color: $gold;
            line-height: 1.8;
            padding-top: 150px;
            width: 80%;
            justify-self: flex-end;
            padding-right: 140px;
            padding-left: 200px;
            
            display: grid;
            row-gap: 40px;

            @include tablet-landscape-and-below {
                padding: 0;
                width: 100%;
                padding-top: 170px;
                padding-left: $padding-left-mobile;

                font-size: 20px;
                letter-spacing: 0.4px;
                line-height: 30px;
            }

            div {
                @include tablet-landscape-and-below {
                    width: 302px;
                }
            }
        }

        &__move {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 28px;

            @include tablet-landscape-and-below {
                font-size: 16px;
                line-height: 23px;
                letter-spacing: 6.25px;
            }
        }
    }
    &__texto1-bottom {
        width: 100%;
        height: 600px;
        background: url("./assets/min-images/quemsomos/texto1-bottom.svg");
        background-repeat: no-repeat;
        background-position: top left;
        background-color: $purple;
        margin-bottom: -570px;

        @include tablet-landscape-and-below {
            display: none;
        }
    }

    &__texto1-mbottom {
        width: 100%;
        height: auto;
        background-color: $purple;
        padding: 0;
        margin: 0;

        @include desktop-and-up {
            display: none;
        }
    }


    &__beliefs {
        width: 100%;
        background-color: transparent;
        position: relative;
        
        @include tablet-landscape-and-below {
            display: none;
        }

        &__nisto {
            position: absolute;
            top: 300px;
            left: 143px;
            font-size: 22px;
            text-transform: uppercase;
            color: $gold;
            font-weight: 300;
            line-height: 32px;
            letter-spacing: 8.6px;
            width: 280px;

            @include tablet-landscape-and-below {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;

            }
        }
        
        &__belief {
            width: 100%;
            height: 1200px;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;

            @include tablet-landscape-and-below {
                height: 400px;
            }


            &__b1 {
                background: url("./assets/min-images/quemsomos/crenca1.png");
                background-repeat: no-repeat;
                background-position: center right;
                margin-top: -280px;
                margin-bottom: -550px;
                padding-left: 143px;

                @include tablet-landscape-and-below {
                    padding: 0;
                }
            }

            &__b2 {
                background: url("./assets/min-images/quemsomos/crenca2.png");
                background-repeat: no-repeat;
                background-position: center left;
                margin: -550px 0;

                @include tablet-landscape-and-below {
                    margin: -50px 0;
                }
                
            }

            &__b3 {
                background: url("./assets/min-images/quemsomos/crenca3.png");
                background-repeat: no-repeat;
                background-position: center right;   
                margin-top: -550px;
                margin-bottom: -450px;

                @include tablet-landscape-and-below {
                    margin-top: -50px;
                    margin-bottom: -50px;
                }
            }

            &__numeral {
                font-size: 226px;
                font-weight: 300;
                color: $gold;
                position: absolute;
                z-index: 3;

                @include tablet-landscape-and-below {
                    position: relative;
                }

                &__b1 {
                    left: 130px;
                    top: 530px;
                }

                &__b2 {
                    right: 130px;
                    top: 420px;
                }

                &__b3 {
                    left: 90px;
                    top: 380px;
                }
            }

            &__text {
                width: 50%;
                color: $cream;
                font-weight: 300;
                font-size: 22px;
                width: 484px;
                border-top: 1px solid $cream;
                padding-top: 20px;
                position: absolute;
                z-index: 2;

                @include tablet-landscape-and-below {
                    position: static;
                }

                &__b1 {
                    left: 220px;
                    top: 700px;
                    padding-left: 160px;

                    @include tablet-landscape-and-below {
                        left: auto;
                        top: auto;
                    }
                }

                &__b2 {
                    right: 220px;
                    top: 590px;
                    padding-right: 200px;
                    text-align: right;

                    @include tablet-landscape-and-below {
                        padding: 0;
                    }
                }

                &__b3 {
                    left: 180px;
                    top: 550px;
                    padding-left: 190px;
                
                    @include tablet-landscape-and-below {
                        padding: 0;
                    }
                }
            }
        }
    }

    &__mbeliefs {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        background-color: $purple;
        padding-top: 50px;

        @include desktop-and-up {
            display: none;
        }

        &__nisto {
            width: 100%;
            padding-left: $padding-left-mobile;
            
            font-size: 22px;
            letter-spacing: 8.6px;
            line-height: 32px;
            font-weight: 300;
            text-transform: uppercase;
            color: $gold;

            margin-bottom: 50px;
        }

        &__belief {
            width: 100%;
            height: 500px;

            &__numeral {
                padding-left: $padding-left-mobile;
                font-size: 114px;
                color: $gold;
                line-height: 116px;
                letter-spacing: -10px;
                font-weight: 300;

                &__b2 {
                    text-align: right;
                    padding-left: 0;
                    padding-right: $padding-left-mobile;
                }
            }

            &__text {
                padding-left: $padding-left-mobile;
                color: $gold;
                font-size: 22px;
                line-height: 32px;
                letter-spacing: 0;
                font-weight: 300;

                &__b2 {
                    padding-left: 0;
                    padding-right: $padding-left-mobile;
                    text-align: right;
                    margin: 0;
                }
            }

            &__b1 {
                background-image: url("./assets/min-images/quemsomos/img-cavalo-01-mobile.png");
                background-size: contain;
                background-position: right center;
                background-repeat: no-repeat;
                margin-bottom: -90px;
            }

            &__b2 {
                background-image: url("./assets/min-images/quemsomos/img-cavalo-02-mobile.png");
                background-size: contain;
                background-position: left center;
                background-repeat: no-repeat;
                margin-bottom: -120px;
            }

            &__b3 {
                background-image: url("./assets/min-images/quemsomos/img-cavalo-03-mobile.png");
                background-size: contain;
                background-position: right center;
                background-repeat: no-repeat;
                margin-bottom: -100px;
            }
        }
    }


    &__bgrid {
        background-color: $purple;
        background-image: url("./assets/min-images/quemsomos/crencagrid.svg");
        background-repeat: no-repeat;
        height: 1370px;
        z-index: 500;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        padding: 440px 350px 320px 350px;

        @include tablet-landscape-and-below {
            grid-template-columns: 1fr;
            padding: 0;
            height: auto;
        }

        &__item {
            position: relative;
            display: grid;
            grid-template-columns: 4fr 6fr;
            column-gap: 10px;

            @include tablet-landscape-and-below {
                grid-template-columns: 1fr;
            }

            &__number {
                color: $gold;
                font-weight: 300;
                font-size: 145px;
                align-self: flex-start;
                justify-self: flex-end;

                @include tablet-landscape-and-below {
                    font-size: 40px;
                    padding-left: $padding-left-mobile;
                    justify-self: flex-start;
                }
            }

            &__text {
                align-self: flex-end;
                padding-bottom: 15px;
                font-size: 22px;
                font-weight: 300;
                color: $cream;
                border-bottom: 1px solid $cream;

                @include tablet-landscape-and-below {
                    padding-left: $padding-left-mobile;
                    line-height: 32px;
                    border-bottom: 0;
                }
            }
        }
    }

    &__cta {
        background-color: transparent;
        margin-top: -200px;

        @include tablet-landscape-and-below {
            margin: 0;
        }
        
        &__darkpurple {
            width: 100%;
            background-color: #201231;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 20px 360px;

            @include tablet-landscape-and-below {
                padding: 20px 0;
                flex-direction: column;
            }
        }

        &__texto {
            color: white;
            font-weight: 800;
            font-size: 76px;

            @include tablet-landscape-and-below {
                font-size: 36px;
                font-weight: 700;
                text-align: center;
                width: 80%;
                margin: 0 auto;
                margin-bottom: 30px;
            }
        }

        &__button {
            display: flex;
            flex-direction: column;
            a {
                background-color: #E35205;
                padding: 30px 40px;
                border-radius: 4px;
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 10px;

                @include tablet-landscape-and-below {
                    max-width: 80%;
                    margin: 0 auto;
                    padding: 20px 60px;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.28px;
                    text-align: center;
                }
            }

            span {
                font-weight: 300;
                font-size: 12px;

                @include tablet-landscape-and-below {
                    text-align: center;
                    line-height: 15px;
                    margin-top: 10px;
                }
            }
        }
    }

}