@import "../utils/Mixins.scss";
@import "../utils/Vars.scss";

.footer {
  width: 100%;

  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgb(45, 41, 38);
  background: linear-gradient(
    180deg,
    rgba(45, 41, 38, 0) 0%,
    rgba(32, 18, 49, 1) 100%
  );

  &__brand {
    width: 100%;
    padding: 100px 0px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
      max-width: $page-max-width;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      color: #ffb81c;

      margin: 0px;
      text-align: center;
      position: relative;
      z-index: 2;
      font-weight: 900;

      white-space: nowrap;
      font-size: 10vw;

      @media (min-width: 1920px) {
        font-size: 200px;
      }
    }

    &__pontilhado {
      position: absolute;
      bottom: -25px;
      right: -25px;
      z-index: -1;
      width: 20%;

      @include mobile-landscape-and-below {
        width: 40%;
        bottom: -25px;
        right: -25px;
      }
    }
  }

  &__access {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    padding-bottom: 50px;

    @include tablet-landscape-and-below {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__logo {
    }

    &__content {
      display: flex;
      flex-direction: row;

      @include tablet-landscape-and-below {
        margin-top: 24px;

        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    &__list {
      margin-right: 80px;

      @include tablet-landscape-and-below {
        width: 100%;
        margin-right: 0px;
        margin-top: 40px;
        text-align: center;
      }

      &:last-child {
        margin-right: 20px;

        @include tablet-landscape-and-below {
          margin-right: 0px;
        }
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      strong {
        color: #ffb81c;
      }

      a {
        text-decoration: none;
        color: #ffb81c;
      }

      li {
        margin-top: 16px;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__rights {
    width: 80%;
    max-width: $page-max-width;
    border-top: 2px solid #ffb71c73;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 16px;

    color: #ffb81c;

    @include desktop-and-below {
      width: 88%;
    }

    &__links {
      margin-top: 50px;
      font-weight: 500;

      @include desktop-and-below {
        display: flex;
        flex-direction: column;
      }

      a {
        font-size: 14px;
        text-align: center;
        margin-right: 18px;
        font-weight: 500;

        @include desktop-and-below {
          margin-top: 18px;
          margin-right: 0px;
        }
      }
    }
  }
}
