@import "../utils/Mixins.scss";
@import "../utils/Vars.scss";

.footer {
  @extend %section-attr;
  padding-bottom: 75px;
  color: #ffb81c;
  background-color: #2e1a47;

  &__wrapper {
    @extend %section-wrapper-attr;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 50px;

    @include tablet-landscape-and-below {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__logo {
  }

  &__content {
    display: flex;
    flex-direction: row;

    @include tablet-landscape-and-below {
      margin-top: 24px;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__list {
    margin-right: 80px;

    @include tablet-landscape-and-below {
      width: 100%;
      margin-right: 0px;
    }

    &:last-child {
      margin-right: 20px;

      @include tablet-landscape-and-below {
        margin-right: 0px;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    a {
      text-decoration: none;
      color: #ffb81c;
    }

    li {
      margin-top: 8px;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__rights {
    width: 80%;
    border-top: 2px solid #ffb71c73;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include desktop-and-below {
      width: 95%;
    }

    &__links {
      margin-top: 20px;

      @include desktop-and-below {
        display: flex;
        flex-direction: column;
      }

      a {
        text-align: center;
        margin-right: 18px;

        @include desktop-and-below {
          margin-top: 18px;
        }
      }
    }
  }
}
