@import "../utils/Vars.scss";
@import "../utils/Mixins.scss";

.navbar {
  &__container {
    position: relative;

    width: 100%;
    height: 80px;
    background-color: #ccc;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    z-index: 5;
  }

  &__wrapper {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: $page-max-width;
    background-color: #ccc;
    padding: 0px 30px;
  }

  &__logo {
    width: 250px;
    height: 100%;
    background-color: #ddd;
  }

  &__items {
    display: flex;
    height: 100%;

    @include desktop-and-below {
      display: none;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      margin-right: 40px;
      padding: 3px;

      &--selected {
        border-bottom: 3px solid black;

        a {
          color: red;
          font-weight: bold;
        }
      }

      a {
        text-decoration: none;
        font-family: "Helvetica-Neue-Light";
        font-size: 15px;
        color: black;

        &:hover {
          color: blue;
        }
      }
    }
  }
}

.navbar--mobile {
  &__button {
    width: 30px;
    height: auto;
    object-fit: contain;
    display: none;

    @include desktop-and-below {
      display: flex;
    }

    &--hidden {
      display: none;
    }
  }

  &__container {
    display: none;
    height: 0%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 80px;
    background-color: #ddd;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 10;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

    &--visible {
      height: 300px;
    }

    @include desktop-and-below {
      display: block;
    }
  }

  &__content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
    padding: 0 5%;

    a {
      padding: 8px;
      text-decoration: none;
      font-size: 21px;
      line-height: 35px;
      display: block;
      transition: 0.5s;
      margin-bottom: 10px;
      font-family: "Helvetica-Neue-Bold";
      color: #212121;
      text-align: left;
      cursor: pointer;

      display: flex;

      img {
        margin-left: 24px;
        object-fit: contain;
      }
    }
  }
}
